#page-create-point {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

#page-create-point header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 48px;
}

#page-create-point header a {
  display: flex;
  align-items: center;

  color: var(--title-color);
  font-weight: bold;
}

#page-create-point header a span {
  display: flex;
  margin-right: 16px;
  background-image: url("../assets/arrow-left.svg");
  width: 20px;
  height: 24px;
}

form {
  background-color: white;
  margin: 80px auto;
  padding: 64px;
  border-radius: 8px;
  max-width: 720px;
}

form h1 {
  font-size: 36px;
}

form fieldset {
  margin-top: 64px;
  border: 0;
}

form legend {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

form legend h2 {
  font-size: 24px;
}

form legend span {
  color: var(--title-color);
  font-size: 14px;
}

form .field {
  flex: 1;
  display: flex;
  flex-direction: column;
}

form .field-group {
  display: flex;
}

form .field-group .field{
  margin-top: 20px;
}

form input,
form select {
  background-color: #f0f0f5;

  border: 0;
  padding: 16px 24px;
  font-size: 16px;
  /* outline: none; */
  border-radius: 8px;
}

form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

form label {
  font-size: 14px;
  margin-bottom: 8px;
}

form .field-group .field + .field {
  margin-left: 24px;
}

form button {
  width: 260px;
  height: 56px;

  background-color: var(--primary-color);
  border-radius: 8px;

  color: white;
  font-weight: bold;
  font-size: 16px;

  border: 0;

  margin-top: 40px;
  transition: 400ms;
}

form button:hover {
  background-color: #2fb86e;
}

.items-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.items-grid li {
  background-color: #f5f5f5;
  list-style: none;

  border: 2px solid none;
  height: 180px;
  border-radius: 8px;

  padding: 32px 24px 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  cursor: pointer;
}

.items-grid li span {
  flex: 1;
  display: flex;
  align-items: center;

  color: var(--title-color);
}

.items-grid li.selected {
  background-color: #e1faec;
  border: 2px solid rgba(107, 213, 155, 0.835);
}

.items-grid li img,
.items-grid li span {
  pointer-events: none;
}
