body {
  background-color: white;
}

body::after {
  content: "";
  /* position: fixed; */
  position: absolute;
  background-color: #f0f0f0;
  /* top: 260px; */
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;

  height: 16rem;
}

#page-search-results {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

#page-search-results header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 48px;
}

#page-search-results header a {
  display: flex;
  align-items: center;

  color: var(--title-color);
  font-weight: bold;
}

#page-search-results header a span {
  display: flex;
  margin-right: 16px;
  background-image: url("../assets/arrow-left.svg");
  width: 20px;
  height: 24px;
}

main {
  margin: 48px;
}

main h4 {
  font-weight: normal;
  font-family: Roboto, sans-serif;

  margin-bottom: 32px;
}

main .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 24px;
}

main .card img {
  width: 100%;
  height: 150px;

  border-radius: 8px 8px 0 0;

  object-fit: cover;
}

main .card h1 {
  font-size: 36px;
  line-height: 41px;
  color: #322153;

  margin-top: 26px;
}

main .card h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  color: var(--primary-color);
  margin: 20px 0;
}

main .card p {
  font-size: 16px;
  line-height: 26px;
  color: #6c6c80;
}
